# IDE settings
.vs/
.vscode/
.idea/

# Build outputs
**/bin/
**/obj/

# .NET user-specific files
*.user
*.suo
*.rsuser
*.userosscache

# Local secrets / environment files
**/appsettings.Development.json

secrets.json
.env
.env.*

# React / frontend outputs
node_modules/
dist/
build/
coverage/

# Logs
*.log

